<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= render 'shared/author_info' %>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
		<section class="gossip_form">
			<%= render 'shared/gossip_form' %>
		</section>
	</aside>
	<div class="col-md-8">
		<h3>Gossips Feed</h3>
		<%= render 'shared/feed' %>
	</div>
</div>