<% if logged_in? %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= render 'shared/author_info' %>
		</section>
		<section class="gossip_form">
			<%= render 'shared/gossip_form' %>
		</section>
	</aside>
	<div class="col-md-8">
		<h3>Gossips Feed</h3>
		<%= render 'shared/feed' %>
	</div>
</div>
<% else %>
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Welcome to Gossip Project.</h1>
    <p>Subscribe and Gossip*</p>
    <p><em>gossip: casual or unconstrained conversation or reports about other people, typically involving details which are not confirmed as true.</em></p>
    <%= link_to "Sign up &raquo;".html_safe, new_author_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<% end %>