<% if !current_user.nil? %>
	<div class=”ui segment”>
	 <h3>Mailbox</h3>
	 <div class=”ui list”>
	  <div class=”item”>
	   <% @conversations.each do |conversation| %>
		   <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
		    <% if conversation.sender_id == current_user.id %>
		      <% recipient = Author.find(conversation.recipient_id) %>
		    <% else %>
		      <% recipient = Author.find(conversation.sender_id) %>
		    <% end %>
		    <p><%= link_to recipient.f_name, conversation_private_messages_path(conversation)%></p>
		   <% end %>
	   <% end %>
	  </div>
	 </div>
	</div>

	<div class=”ui segment”>
	 <h3>All Users</h3>
	  <div class=”ui list”>
	   <% @authors.each do |author| %>
	    <% if author.id != current_user.id %>
	     <div class=”item”>
			   <%= author.id %> <%= author.f_name %> <%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: author.id), method: :post%>
			 </div>
	  	<% end %>
	 	 <% end %>
	 	</div>
	</div>
<% else %>
	<div class="alert alert-danger">Tu n'as pas acces</div>
<% end %>